﻿<div class="container border p-3 mx-3">
    <form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="ProcessTurtleCommands">
        <div class="d-flex flex-column">
            <div>
                <label class="font-weight-bold">Choose a new file to process: </label>
            </div>
            <div>
                <input type="file" name="turtleCommandFile"/>

                <input type="submit" value="Process" class="btn btn-primary"/>
            </div>
        </div>
    </form>
</div>