﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="float-right">
    <partial name="ChooseTurtleFileToProcessPartial"/>
</div>
<div class="text-center">
    <h1 class="display-4">Process A Turtle File</h1>
</div>

<p>
    Imagine that you're a turtle starting at 0,0 that needs to follow the directions in a text file. Each letter represents a movement:
</p>
<ul>
    <li>L means the turtle turns counterclockwise</li>
    <li>R means the turtle turns clockwise</li>
    <li>F means forward</li>
</ul>

<p>
    Note that turning the turtle only changes the turtle's orientation.
</p>

<p>
    This application takes in a text file like the one described and displays in a visual manner the path the turtle travels and highlights the locations where the turtle crosses his own path.
    This application highlights:
</p>
<ul>
    <li>The end location of the turtle</li>
    <li>The full path that that turtle travelled</li>
    <li>all of the points where the turtle has traveled to more than once ("FFFLFFLLF" would, for example return: (-1,3))</li>
</ul>