﻿@model ProcessedTurtleCommandResultViewModel

@{
    var info = Model.TurtleLocationInformation;

    var width = info.MaxX - info.MinX;
    var height = info.MaxY - info.MaxY;

    const string traveledNeverStyle = "background-color: rgb(255, 255, 255)";
    const string traveledOnceStyle = "background-color: rgb(128, 128, 255)";
    const string traveledMultipleStyle = "background-color: rgb(0, 0, 255)";
}

<div class="d-flex my-2">
    <table class="table table-borderless table-sm">
        <tr>
            <th>Start Location</th>
            <th>End Location </th>
            <th>Traveled Once</th>
            <th>Traveled Multiple</th>
        </tr>
        <tr>
            <td>
                <div class="p-1 bg-success">
                    <div class="p-2" style="@traveledNeverStyle">
                    </div>
                </div>
            </td>
            <td>
                <div class="p-1 bg-danger">
                    <div class="p-2" style="@traveledNeverStyle">
                    </div>
                </div>
            </td>
            <td>
                <div class="p-1">
                    <div class="p-2" style="@traveledOnceStyle">
                    </div>
                </div>
            </td>
            <td>
                <div class="p-1">
                    <div class="p-2" style="@traveledMultipleStyle">
                    </div>
                </div>
            </td>
        </tr>
    </table>

</div>

@for (var row = info.MaxY; row >= info.MinY; row--)
{
    <div class="d-flex">

        @for (var column = info.MinX; column <= info.MaxX; column++)
        {
            // determine number of occurrences
            var numberOfOccurrences = 0;
            if (info.TravelledMoreThanOnceLocations.Any(x => x.X == column && x.Y == row))
            {
                numberOfOccurrences = 2;
            }
            else if (info.PathLocations.Any(x => x.X == column && x.Y == row))
            {
                numberOfOccurrences = 1;
            }

            // determine background style
            var backgroundStyle = traveledNeverStyle;
            if (numberOfOccurrences == 1)
            {
                backgroundStyle = traveledOnceStyle;
            }
            else if (numberOfOccurrences > 1)
            {
                backgroundStyle = traveledMultipleStyle;
            }

            // generate tool tip
            var toolTip = $"{column}, {row}";
            if (numberOfOccurrences > 0)
            {
                if (numberOfOccurrences == 1)
                {
                    toolTip += " (Once)";
                }
                else
                {
                    toolTip += " (More than once)";
                }
            }

            // determine border
            var borderColor = "";
            if (column == info.StartLocation.X && row == info.StartLocation.Y)
            {
                borderColor = "bg-success";
            }
            else if (column == info.EndLocation.X && row == info.EndLocation.Y)
            {
                borderColor = "bg-danger";
            }


            <div class="p-1 @borderColor">
                <div class="p-2 flex-fill" style="@backgroundStyle" data-toggle="tooltip" data-placement="top" title="@toolTip">
                </div>
            </div>
        }
    </div>
}