﻿@model ProcessedTurtleCommandResultViewModel
@{
    ViewData["Title"] = "Processed Turtle Location Information";

    var info = Model.TurtleLocationInformation;
}

<h3>Processed Turtle Location Information - @Model.FileName</h3>

<div class="float-right">
    <partial name="ChooseTurtleFileToProcessPartial" />
</div>
<div class="card">
    <div class="card-header">
        <h4> Summary </h4>
    </div>
    <div class="card-body">
        <table class="table table-borderless table-sm">
            <tr>
                <th>Start</th>
                <th>End</th>
                <th>Min X </th>
                <th>Max X </th>
                <th>Min Y </th>
                <th>Max Y </th>
            </tr>
            <tr>
                <td>
                    <partial name="TurtlePointPartial" model="info.StartLocation" />
                </td>
                <td>
                    <partial name="TurtlePointPartial" model="info.EndLocation" />
                </td>
                <td>
                    @Model.TurtleLocationInformation.MinX
                </td>
                <td>
                    @Model.TurtleLocationInformation.MaxX
                </td>
                <td>
                    @Model.TurtleLocationInformation.MinY
                </td>
                <td>
                    @Model.TurtleLocationInformation.MaxX
                </td>
            </tr>
        </table>

    </div>
</div>

<div class="border mt-2 p-2">
    <partial name="TurtleLocationInformationGraphicalPartial" model="Model" />
</div>

@section Scripts {
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
        })
    </script>
}